body {
  padding: 0;
  margin: 0;
  background: #faf9ef;
  font-family: Helvetica Neue, Arial, sans-serif;
  text-align: center;
}
/*--- navigation bar ---*/
.navbar {
  background:#faf9ef;
  border-bottom: 3px solid transparent;
}
.nav-link,
.navbar-brand {
  color: #00283d;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
  border-bottom: 3px solid transparent
}
.nav-link:hover {
  color: #9b1c1c;
  border-bottom: 3px solid #9b1c1c;
}
.navbar-collapse {
  justify-content: flex-end;
}

.wrapper {
  max-width: 1000px;
  margin: 50px auto;
}

h1 {
  font-weight: 200;
  font-size: 3em;
  margin: 0 0 0.1em 0;
}

h2 {
  font-weight: 200;
  font-size: 0.9em;
  margin: 0 0 50px;
  color: #999;
}

a {
  display: block;
  color: #3e95cd;
}

.page-footer {
  background-color: #9b1c1c;
  color: #faf9ef;
  padding: 20px 0 10px;
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
}
.footer-copyright {
  color: #d4867e;
  padding: 5px 0;
}
